            
            #title{
                font-size:50px;
                text-align:center;
            }
            tr,td
            {
                border-style:dotted;border-width:2px;
                border-color:cyan;
                
                border:dotted 2px cyan;
            }
            #toptable
            {
                border-width:4px;
                text-align: center;
                font-size:10px;
            }
            #mtitle{
                text-align:center;
                font-size:40px;
            }
            p{
                border-style: solid; border-color:lawngreen;border-width:3px;
            }